.Home {
  border: 1rem solid white;
}

.slide {
  margin-top: 4rem;
  border: 0.1rem solid white;
  display: flex;
  height: 300;
  gap: 1rem;
  overflow: auto;
}
.images {
  border: 1rem solid white;
  transition: transform 1s;
}
.images:hover {
  transform: scale(1.1);
}
/* .carousel-inner > .May >
  .carousel-inner > .May>  {
    width: 70%;
    margin: auto;
  } */
.May{
  overflow: auto;
}
h2{
  margin: auto;
  margin-top: 5rem;
  margin-left: 4rem;
  display: flex;
  text-align: start;
}

