.BestSeller{
    background-image: url("/public/images/backgr.jpg");
    margin-top: 1rem;
    border: 0rem solid white;
    display: flex;
    height: 35rem;
    align-items: center;
    justify-content: space-around;
    

}
.image{
    border: 1rem solid whitesmoke;
    display: flex;
    width: 14rem;
    height: 11rem;
    transition: transform 1s;

}
.details{
    margin-top: 4rem;
    background-color: white;
    margin-left: 1rem;
    border: 1rem solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22rem;
    
}
.image:hover{
    transform: scale(1.1);
}
.para{
    margin-bottom: 2rem;
    border: 0.1rem solid whitesmoke;
    background-color: rgb(230, 211, 211);
    display: flex;
    align-items: center;


}
.para1{
    
    display: flex;
    align-items: center;
}
.para11{
    margin-top: 1.1rem;
    display: flex;
    align-items: center;
}
.part{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.part1{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
}