.MayLike {
  margin-top: 1rem;
  border: 1rem solid white;
  display: flex;
  height: 25rem;
  width: fit-content;
  align-items: center;
  justify-content: space-around;
  overflow: scroll;
}

.details {
  margin-top: 4rem;
  background-color: whitesmoke;
  margin-left: 1rem;
  border: 1rem solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  height: 19rem;
}

.images {
    margin-top: 2rem;
  border: 1rem solid whitesmoke;
  display: flex;
  align-items: center;
  width: 17rem;
  height: 12rem;
  transition: transform 1s;
}
.images:hover {
  transform: scale(1.1);
}
